.aboutUsImageSection {
  background-image: url("https://i.ibb.co/mytdDf8/about-Page-Image.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsImageSection > p {
  border-bottom: 2px solid white;
  padding: 0px 75px;
}

.textSectionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.textSectionDiv > div {
  width: 50%;
}

.textSectionDiv > div > img {
  width: 100%;
}

.textSectionDiv > div:nth-child(2) > p:nth-child(1) {
  margin-bottom: 30px;
}

.ourVisionSection {
  margin: 100px 0px;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 992px) {
  .aboutUsImageSection {
    height: 400px;
  }

  .aboutUsImageSection > p {
    padding: 0px 40px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutUsImageSection {
    height: 200px;
  }

  .aboutUsImageSection > p {
    padding: 0px 30px;
    font-size: 30px;
  }

  .textSectionDiv {
    flex-direction: column;
  }

  .textSectionDiv > div {
    width: 100%;
  }

  .textSectionDiv > div:nth-child(1) {
    text-align: center;
  }

  .textSectionDiv > div:nth-child(2) > p:nth-child(1) {
    text-align: center;
    margin-bottom: 20px;
  }

  .textSectionDiv > div:nth-child(2) > p:nth-child(2) {
    text-align: justify;
  }

  .textSectionDiv > div > img {
    width: 75%;
  }

  .ourVisionSection {
    margin: 40px 0px;
  }

  .textSectionDiv > div:nth-child(2) > p:nth-child(1) {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .aboutUsImageSection {
    height: 150px;
  }

  .aboutUsImageSection > p {
    border-bottom: 1px solid white;
    padding: 0px 20px;
    font-size: 20px;
  }

  .textSectionDiv > div > img {
    width: 50%;
  }

  .textSectionDiv {
    gap: 20px;
  }

  .textSectionDiv > div {
    width: 100%;
  }

  .textSectionDiv > div:nth-child(2) > p:nth-child(1) {
    margin-bottom: 10px;
  }

  .textSectionDiv > div:nth-child(2) > p:nth-child(2) {
    width: 100%;
  }
}
