:root {
  --themeColor: #48408c;
  --darkThemeColor: #121023;
  --lightBlueColor: #0066ff;
  --darkBlueColor: #000099;
  --yellowColor: #fff272;
  --whiteColor: white;
  --darkBlackColor: black;
  --blackColor: #404040;
  --grayColor: gray;
  --lavenderColor: lavender;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

/*for desktop mode only*/

.container {
  max-width: 1400px;
  margin: auto;
  padding: 75px;
}

.firstContainer {
  max-width: 1400px;
  margin: auto;
  padding: 0px 75px 75px 75px;
}

.navbarColorSection {
  background-color: var(--themeColor);
}

.blueSolidButton {
  background-color: var(--lightBlueColor);
  padding: 15px 25px;
  border: 1px solid var(--lightBlueColor);
  border-radius: 5px;
  color: var(--whiteColor);
  letter-spacing: 0.1em;
  cursor: pointer;
}

.blueSolidButton:hover {
  background: transparent;
  border: 1px solid var(--lightBlueColor);
  color: var(--lightBlueColor);
}

.blueGhostButton {
  background: transparent;
  padding: 15px 25px;
  border: 1px solid var(--lightBlueColor);
  border-radius: 5px;
  color: var(--lightBlueColor);
  letter-spacing: 0.1em;
  cursor: pointer;
}

.blueGhostButton:hover {
  background: var(--lightBlueColor);
  border: 1px solid #0066ff;
  color: var(--whiteColor);
}

.yellowSolidButton {
  background-color: var(--yellowColor);
  padding: 10px 20px;
  border: 1px solid var(--yellowColor);
  border-radius: 5px;
  color: var(--blackColor);
  letter-spacing: 0.1em;
  cursor: pointer;
}

.yellowSolidButton:hover {
  background: transparent;
  border: 1px solid var(--yellowColor);
  color: var(--yellowColor);
}

.yellowGhostButton {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--yellowColor);
  border-radius: 5px;
  color: var(--yellowColor);
  letter-spacing: 0.1em;
  cursor: pointer;
}

.yellowGhostButton:hover {
  background: var(--yellowColor);
  border: 1px solid var(--yellowColor);
  color: var(--blackColor);
}

.whiteInputSection {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--whiteColor);
  border-radius: 5px;
  color: var(--lavenderColor);
}

.whiteInputSection > input::placeholder {
  color: var(--grayColor);
}

.blackInputSection {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--blackColor);
  border-radius: 5px;
  width: 100%;
}

textarea {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--blackColor);
  border-radius: 5px;
  width: 100%;
  min-height: 150px;
}

.whiteBigText {
  font-size: 45px;
  color: var(--whiteColor);
  font-family: dosis;
}

.yellowSpanText {
  font-size: 45px;
  color: var(--yellowColor);
  font-family: dosis;
}

.whitePara {
  font-size: 15px;
  color: var(--whiteColor);
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.whiteSmallText {
  font-size: 15px;
  color: var(--whiteColor);
  letter-spacing: 0.1em;
}

.yellowSmallText {
  font-size: 15px;
  color: var(--yellowColor);
  font-family: roboto mono;
}

.darkBlueBigText {
  font-size: 30px;
  color: var(--darkBlueColor);
  font-family: rowdies;
}

.lightBlueSmallText {
  font-size: 15px;
  color: var(--lightBlueColor);
  letter-spacing: 0.05em;
  font-weight: bold;
}

.lightBlueBigText {
  font-size: 30px;
  color: var(--lightBlueColor);
  font-family: roboto mono;
}

.darkBlueSmallText {
  font-size: 18px;
  color: var(--darkBlueColor);
  font-family: rowdies;
}

.blackSmallText {
  font-size: 12px;
  color: var(--blackColor);
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.blackPara {
  font-size: 15px;
  color: var(--grayColor);
  line-height: 1.5em;
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 40px;
  }

  .firstContainer {
    padding: 0px 40px 40px 40px;
  }

  .whiteBigText {
    font-size: 35px;
  }

  .yellowSpanText {
    font-size: 35px;
  }

  .whitePara {
    font-size: 12px;
  }

  .yellowSmallText {
    font-size: 12px;
    color: var(--yellowColor);
    font-family: roboto mono;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }

  .firstContainer {
    padding: 0px 30px 30px 30px;
  }

  .darkBlueBigText {
    font-size: 25px;
  }

  .lightBlueSmallText {
    font-size: 12px;
  }

  .lightBlueBigText {
    font-size: 25px;
  }

  .darkBlueSmallText {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .firstContainer {
    padding: 0px 20px 20px 20px;
  }

  .whiteBigText {
    font-size: 30px;
  }

  .yellowSpanText {
    font-size: 30px;
  }

  .darkBlueBigText {
    font-size: 20px;
  }

  .lightBlueBigText {
    font-size: 20px;
  }
}
