.contactUsDiv {
  display: flex;
  gap: 20px;
}

.leftSection {
  width: 50%;
}

.rightSection {
  width: 50%;
}

.contactGridSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.contactGridDiv {
  background-color: var(--themeColor);
  color: white;
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.contactGridDiv > div > img {
  width: 40px;
}

.contactGridDiv > p:nth-child(2) {
  font-weight: bold;
  margin: 10px 0px;
}

.mapSection img {
  width: 100%;
}

.rightSection > p:nth-child(2) {
  margin: 10px 0px 30px 0px;
}

.rightSection > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.socialSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.socialSection > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--grayColor);
  padding: 10px;
  text-decoration: none;
  color: var(--darkBlackColor);
}

.socialSection > div > a:hover {
  color: var(--darkBlueColor);
}

.socialSection > div > a > img {
  width: 40px;
}

@media only screen and (max-width: 992px) {
  .contactGridDiv {
    min-width: 150px;
    padding: 15px;
  }

  .contactGridDiv > div > img {
    width: 30px;
  }

  .contactGridDiv > p:nth-child(2) {
    font-weight: bold;
    margin: 10px 0px;
    font-size: 13px;
  }

  .contactGridDiv > p:nth-child(3) {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .contactUsDiv {
    flex-direction: column-reverse;
  }

  .leftSection {
    width: 100%;
  }

  .rightSection {
    width: 100%;
    margin-bottom: 30px;
  }

  .contactGridSection {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }

  .contactGridDiv {
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
  }

  .contactGridDiv > div > img {
    width: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .contactUsDiv {
    display: flex;
    gap: 0px;
  }

  .socialSection {
    gap: 10px;
  }

  .socialSection > div {
    gap: 5px;
    font-size: small;
  }

  .socialSection > div > img {
    width: 20px;
  }

  .contactGridSection {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }

  .contactGridDiv {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .contactGridDiv > div > img {
    width: 20px;
  }

  .contactGridDiv > p:nth-child(2) {
    font-weight: bold;
    margin: 5px 0px 10px 0px;
    font-size: 13px;
  }

  .contactGridDiv > p:nth-child(3) {
    font-size: 14px;
  }
}
