.interiorImageSection {
  background-image: url("https://i.ibb.co/WcTGnxy/interior-Section-Image.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-top: 100px;
}

.blueBellLogo {
  width: 500px;
  text-align: right;
}

.blueBellLogo > img {
  width: 200px;
  border: 1px solid var(--darkBlackColor);
}

.interiorTitle {
  background: rgb(0, 0, 0, 0.5);
  width: 500px;
  padding: 20px 30px;
}

.interiorTitle > p {
  text-align: right;
  opacity: 0.9;
}

.interiorGridSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.interiorGridDiv {
  box-shadow: 0px 0px 5px var(--grayColor);
  text-align: center;
  background-color: var(--lavenderColor);
}

.interiorGridDiv > div:nth-child(1) > img {
  width: 100%;
}

.interiorGridDiv > div:nth-child(2) {
  padding: 30px;
}

.interiorGridDiv > div:nth-child(2) > p {
  margin: 10px 0px;
}

@media only screen and (max-width: 992px) {
  .interiorImageSection {
    height: 400px;
    padding-top: 75px;
  }

  .blueBellLogo {
    width: 400px;
  }

  .interiorTitle {
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .interiorImageSection {
    height: 200px;
    padding-top: 25px;
  }

  .blueBellLogo {
    width: 250px;
  }

  .blueBellLogo > img {
    width: 100px;
    border: 1px solid var(--darkBlackColor);
  }

  .interiorTitle {
    width: 250px;
    padding: 10px 20px;
  }

  .interiorTitle > p {
    font-size: 25px;
  }

  .interiorGridSection {
    gap: 20px;
  }

  .interiorGridDiv > div:nth-child(2) {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .interiorImageSection {
    height: 150px;
    padding-top: 20px;
  }

  .blueBellLogo {
    width: 150px;
  }

  .blueBellLogo > img {
    width: 75px;
    border: 1px solid var(--darkBlackColor);
  }

  .interiorTitle {
    width: 150px;
    padding: 5px 10px;
  }

  .interiorTitle > p {
    font-size: 18px;
  }

  .interiorGridSection {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .interiorGridDiv > div:nth-child(2) {
    padding: 10px;
  }

  .interiorGridDiv > div:nth-child(2) > p {
    margin: 10px 0px;
  }
}
