.navbarContainer {
  max-width: 1400px;
  margin: auto;
  padding: 20px 75px;
}

.navbar {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSection img {
  width: 170px;
  margin-left: -15px;
}

.menuSection {
  display: flex;
  align-items: center;
  font-size: small;
}

.menuSection a {
  text-decoration: none;
  color: var(--whiteColor);
  padding: 10px 20px;
}

.menuSection a:hover {
  text-decoration: none;
  color: var(--yellowColor);
  padding: 10px 20px;
}

.menuButton {
  display: none;
}

@media only screen and (max-width: 992px) {
  .navbarContainer {
    padding: 10px 40px;
  }

  .menuSection a {
    padding: 8px 15px;
  }

  .menuSection a:hover {
    padding: 8px 15px;
  }

  .logoSection img {
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .navbarContainer {
    padding: 10px 30px;
  }

  .menuSection {
    display: none;
  }

  .menuButton {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--whiteColor);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }

  .menuButton>img {
    width: 100%;
  }

  .enableButton {
    background-color: var(--darkThemeColor);
    border: 1px solid var(--darkThemeColor);
    border-radius: 5px 5px 0px 0px;
  }

  .navbar {
    position: relative;
  }

  .menuSection a {
    text-decoration: none;
    color: var(--whiteColor);
    width: 100%;
    padding: 10px 20px;
    font-size: small;
  }

  .menuSection a:nth-child(1) {
    margin-top: 10px;
  }

  .menuSection a:hover {
    color: var(--yellowColor);
    padding: 10px 20px;
  }

  .menuSection {
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 1;
    width: 100%;
    background-color: var(--darkThemeColor);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    height: 0px;
    transition: height 0.3s ease;
  }

  .enableMenu {
    height: 255px;
  }
}

@media only screen and (max-width: 480px) {
  .navbarContainer {
    padding: 10px 20px;
  }

  .logoSection img {
    width: 130px;
  }

  .menuButton {
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
  }

  .enableButton {
    background-color: var(--darkThemeColor);
    border: 1px solid var(--darkThemeColor);
    border-radius: 5px 5px 0px 0px;
  }

  .menuSection {
    top: 50px;
  }

  .enableMenu {
    height: 255px;
  }
}