.textSection h3 {
  margin-top: 30px;
}

.textSection h4 {
  margin-top: 10px;
}

.textSection p {
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  .textSection h2 {
    font-size: large;
  }

  .textSection h3 {
    font-size: medium;
  }

  .textSection h4 {
    font-size: small;
  }

  .textSection p {
    font-size: smaller;
  }
}
